################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xamarin.IOS.Extension/v15
/.Xamarin.IOS.Extension/bin